#main {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

bxb {
  position: relative;
}

bxb canvas {
  display: block;
}

.vs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 36px;
  color: var(--color-blue);
}

.hp-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.hp-bar {
  width: 100%;
  height: 30px;
  margin-bottom: auto;
  display: flex;
  border: 2px solid var(--color-red);
  box-shadow: inset 0 0 8px var(--color-red);
  border-radius: 2em;
  position: relative;
  color: var(--color-white);
}
.hp-bar .hp-bar-remain {
  height: 100%;
  background-color: var(--color-red);
  padding: 0 10px;
  border-radius: 2em;
}

.hp-bar .user-name {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: digital;
  font-size: 16px;
  line-height: 26px;
}

#bar-other .hp-bar-remain {
  margin-left: auto;
  text-align: right;
}

#bar-other .user-name {
  left: unset;
  right: 10px;
}

.status-text {
  font-size: 100px;
  text-align: center;
  padding: 50px 0px;
  font-weight: bold;
}

.status-text .lose-text {
  color: var(--color-red)
}

.status-text .win-text {
  color: var(--color-blue)
}

.setting {
  min-width: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.setting img {
  height: 100%;
}

.ctrl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ctrl-btn {
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctrl-btn.hidden {
  visibility: hidden;
}

.ctrl-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
  font-size: 20px;
  border-radius: 50%;
}

.skill-ctrl {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.skill-ctrl-item {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-blue);
  background-color: #fff;
}

.skill-ctrl-item * {
  position: absolute;
  bottom: 0;
  right: 0;
}

.skill-ctrl-item span {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.skill-ctrl-item img {
  left: 0;
  top: 0;
}