html, body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 100px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 3px var(--color-black);
}

.logo {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1
}

.btn {
  width: 30% !important;
  display: block !important;
  margin-bottom: 20px;
}

.input {
  width: 30% !important;
  margin-bottom: 50px;
}

.version {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #000000;
  font-size: 20px;
  color: var(--color-white)
}

.link a {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 100px;
  height: 100px;
  background: url(/assets/images/github-mark.png);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
}