#main {
  height: inherit;
  display: flex;
  gap: 10px;
}

#ball {
  width: calc(100% - 600px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

#ball .guide {
  font-size: 20px;
}

.ball-table {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.ball-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.ball-item {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 100;
}

.ball-item img {
  width: 100%;
  height: 100%;
}

.ball-item:hover {
  box-shadow: inset 5px 5px 18px var(--color-white)
}

.ball-item.active-1 {
  box-shadow: inset 5px 5px 18px var(--color-white);
  outline: 3px solid rgba(255, 255, 255, 0.2);
}

.ball-item-description {
  position: absolute;
  right: 30px;
  bottom: -10px;
  z-index: 100;
}

.ball-item-description::after {
  content: "";
  position: relative;
}

.selected-ball-container {
  margin-bottom: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-ball-container .selected-ball-item {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: inset 5px 5px 8px var(--color-white);
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 100;
}


.selected-ball {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-white);
  border: 2px solid var(--color-green);
}

.selected-ball-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.selected-ball-header .img-container {
  width: 150px;
  height: 150px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  padding: 20px;
}

.selected-ball .ball-name-container {
  text-align: center;
}

.selected-ball .ball-name {
  font-family: digital;
  text-transform: lowercase;
  color: var(--color-red);
}

.selected-ball .ball-nickname {
  font-size: 20px;
}

.detail-container {
  flex: 1
}

.selected-ball .skill-table {
  width: 100%;
  padding: 0 20px;
}

.skill-table .skill-title {
  width: 20px;
  display: flex;
}

.selected-ball td {
  padding-bottom: 5px;
}

.selected-ball tr td:last-child {
  width: 100%;
}

.index-container {
  width: 100%;
  height: 10px;
  border: 1px solid var(--color-green);
  box-shadow: inset 0 0 3px var(--color-green);
  color: var(--color-white);
  border-radius: 5px;
}

.index-container .index {
  height: 100%;
  background-color: var(--color-green);
  padding: 3px;
  font-size: 16px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  line-height: 14px;
}

.selected-ball .tip {
  white-space: normal;
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
}

#player1, #player2 {
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);

}
#player1 .header {
  background-color: var(--color-blue);
  border: 5px solid var(--color-blue-light);
}

.back-button {
  min-width: 70px;
  padding: 8px;
}

.back-button img {
  height: 100%;
}

.header .user-name {
  color: #FFFFFF;
  font-family: digital;
}

#player2 .header {
  background-color: var(--color-red);
  border: 5px solid var(--color-red-light);
}

.ready-status {
  color: var(--color-white);
  font-size: 40px;
}
/* .ready-status .ready-false {
  color: var(--color-red);
}

.ready-status .ready-true {
  color: var(--color-blue);
} */

#waitingList {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto;
}

.waiting-item {
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
}

.waiting-item:hover, .waiting-item.active {
  color: #FFFFFF;
  background-color: #025f62;
  border: 1px solid #025f62;
}

.guide-dialog {
  display: none;
}
.guide-dialog .dialog-content {
  padding: 20px;
}

.control-guide {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  margin-top: auto;
  gap: 20px;
}

.control-guide-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.control-guide-line.title {
  font-size: 40px;
}

.control-guide-line.close-button {
  margin-top: 50px;
}

.guide-line-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.control-guide-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.control-guide-content {
  padding: 5px 0;
}

.control-guide-header .skill-image {
  width: 28px;
  height: 28px;
  display: flex;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  padding: 5px;
}

.control-guide-header .skill-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.control-button {
  border: 1px solid var(--color-gray);
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}