#main {
  height: inherit;
  display: flex;
  gap: 10px;
}

#ball {
  width: calc(100% - 600px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

#ball .guide {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-white);
  text-shadow: 0px 0px 2px #000;
}

.ball-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.ball-item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding: 10px;
}

.ball-item.active-1 {
  outline: 3px solid #025f62;
}

.selected-ball-container {
  margin-bottom: auto;
  height: 100%;
}

.selected-ball {
  border: 1px solid var(--color-black);
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-light);
}

.selected-ball .ball-name {
  padding-bottom: 10px;
  text-align: center;
}

.selected-ball .ball-nickname {
  font-size: 20px;
}

.selected-ball .ball-image {
  height: 250px;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--color-white);
  padding: 50px;
}

.selected-ball .skill-table {
  white-space: nowrap;
  width: 100%;
}

.skill-table .skill-title {
  width: 20px;
  display: flex;
}

.selected-ball td {
  padding-bottom: 5px;
}

.selected-ball tr td:last-child {
  width: 100%;
}

.index-container {
  width: 100%;
  height: 20px;
  border: 1px solid #000000;
  color: var(--color-white);
}

.index-container .index {
  height: 100%;
  background-color: var(--color-black);
  padding: 3px;
  font-size: 16px;
}

.skill {
  display: flex;
  flex-direction: row;
  gap: 10px;
  float: right;
}

.selected-ball .tip {
  white-space: normal;
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
}

#player1, #player2 {
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);

}
#player1 .header {
  background-color: var(--color-blue);
  border: 5px solid var(--color-blue-light);
}
.header .user-name {
  color: #FFFFFF;
  font-family: digital;
}

#player2 .header {
  background-color: var(--color-red);
  border: 5px solid var(--color-red-light);
}

.ready-status .ready-false {
  color: var(--color-red);
}

.ready-status .ready-true {
  color: var(--color-blue);
}

#waitingList {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto;
}

.waiting-item {
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
}

.waiting-item:hover, .waiting-item.active {
  color: #FFFFFF;
  background-color: #025f62;
  border: 1px solid #025f62;
}

.control-guide {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: auto;
}

.control-guide-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.control-guide-content {
  margin-bottom: 10px;
}

.control-guide-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.control-guide-header .skill-image {
  width: 28px;
  height: 28px;
  display: flex;
  border: 1px solid #000000;
  padding: 3px;
}

.control-guide-header .skill-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.control-button {
  border: 1px solid var(--color-gray);
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}